body {
    background-color: #1A202C; /* Set the background color similar to the example */
    color: #ffffff; /* Set text color to white */
    font-family: sans-serif;
    margin: 10px;
}
.header {
    display: flex;
    align-items: center;
}
.header, 
a {
    gap: 6px;
    text-decoration: none;
}
nav  {
    display: flex;
    margin-left: 60%;
    gap: 8px;
}
nav a {
    color: white;
}
.container {
 display: flex; 
 margin-top: 40px;
 justify-content: space-evenly;
 margin-bottom: 100px;

}
img {
    border-radius: 2%;
}
h2 {
    text-align: center;
}
.images {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: lightgray;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 20px;
}
.info {
    max-width: 200px;
    color: #1A202C;
    font-weight: 200;
}
button {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.quote {
    display: flex;    
    align-items: center;
    background-color: lightgray;
    padding: 110px;
    color: #ffffff;
    font-weight: 900;
    font-size: 30px;
}
.sign-up {
    display: flex;
    margin-top: 30px;
    background-color: lightgray;
    padding: 40px;
    width: 600px;
    border-radius: 5px;
    margin: 30px auto;
    justify-content: space-between;
}
.text {
    display: flex;
    flex-basis: 80%;
}
footer {
    background-color: #1A204C;
    padding: 20px;
    text-align: center;
}
.logo {
    border-radius: 5px;
}